<form
        
    data-request="{{ __SELF__ }}::onSend"
    data-request-flash
    id="ivanContactForm">

    <!-- временная мера по защите от спама -->
    <div class="form-group wrap-name hide">
        <label for="email">Name:</label>
        <input type="text" id="name" name="name" class="form-control" value="">
    </div>


    <div class="form-group">
        <label for="email">E-mail*:</label>
        <input type="text" id="email" name="email" class="form-control" value="">
        <div>{{ errors.first('email') }}</div>
    </div>

    <div class="form-group">
        <label for="subject">Тема сообщения*:</label>
        <input type="text" id="subject" name="subject" class="form-control" value="">
        <div>{{ errors.first('subject') }}</div>
    </div>

    <div class="form-group">
        <label for="subject">Сообщение*:</label>
        <textarea id="msg" name="msg" rows="8" cols="80"></textarea>
        <div>{{ errors.first('msg') }}</div>
    </div>

    <div class="form-group tg-btnsbox">
        <button type="submit"
                id="ivanContactSubmitButton"
                data-attach-loading
                class="btn btn-default tg-btn">Отправить сообщение</button>
    </div>

    <ul>
    {% for error in errors.all() %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
</form>

<!-- JavaScript API
<script>
    jQuery(document).ready(function(){
        $.request('onSend');
    });
</script>
-->


