
<?php if (!$this->fatalError): ?>

<?php
    foreach ($message as $value){
        $email = $message->email;
        $subject = $message->subject;
        $msg = $message->message;
        $created_at = $message->created_at;
        $remote_ip = $message->remote_ip;
    }
?>

<div class="preview">

    <h2><?= $subject; ?></h2>

    <p><b><?php echo(e(trans('contentim.formsender::lang.controllers.messages.preview_content_title')) ); ?></b></p>
    <p><?= $msg; ?></p>
    <br>

    <p><b>Создано</b></p>
    <p><?= $created_at; ?></p>
    <br>

    <p><b>IP-адрес отправителя</b></p>
    <p><?= $remote_ip; ?></p>
    <br>

</div>

<?php else: ?>
<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>

<p>
    <a href="<?= Backend::url('contentim/formsender/messages') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
</p>
