<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <a href="<?= Backend::url('contentim/formsender/messages') ?>" type="button" class="btn btn-default oc-icon-arrow-left"><?= e(trans('backend::lang.form.return_to_list')) ?></a>
            <button type="button" class="btn btn-danger oc-icon-trash"
                    data-request="onDeleteSingle"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>"
                    data-request-data="id: "
                    data-stripe-load-indicator
            >Удалить</button>
        </div>
    </div>
</div>