table.table.data tbody [class*="switch_important"] a {
    opacity: 0;
}
table.table.data tbody [class*="switch_important"]:hover a {
    opacity: 0; /* 1 */
}
table.table.data tbody [class*="switch_important"] a.important-active {
    opacity: 1;
    color: #ff9b00;
}

.form-group.wrap-name {
    display: none;
}

.latest_theme a {
    color: #111;
}
.latest_theme a:hover i {
    text-decoration: none;
}