<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#ff9b00"><?= e(trans('contentim.formsender::lang.controller.scoreboard.important_count')) ?> <span><?= $this->getMessagesStats('spam', 'important_count'); ?></span></li>
                <li data-color="#3c763d"><?= e(trans('contentim.formsender::lang.controller.scoreboard.new_count')) ?> <span><?= $this->getMessagesStats('spam', 'new_count'); ?></span></li>
                <li data-color="#999"><?= e(trans('contentim.formsender::lang.controller.scoreboard.read_count')) ?> <span><?= $this->getMessagesStats('spam', 'read_count'); ?></span></li>
            </ul>
        </div>

        <div class="scoreboard-item control-chart" data-control="chart-bar">
            <ul>
                <li data-color="#ff9b00"><?= e(trans('contentim.formsender::lang.controller.scoreboard.important_count')) ?> <span><?= $this->getMessagesStats('spam', 'important_count'); ?></span></li>
                <li data-color="#3c763d"><?= e(trans('contentim.formsender::lang.controller.scoreboard.new_count')) ?> <span><?= $this->getMessagesStats('spam', 'new_count'); ?></span></li>
                <li data-color="#999"><?= e(trans('contentim.formsender::lang.controller.scoreboard.read_count')) ?> <span><?= $this->getMessagesStats('spam', 'read_count'); ?></span></li>
            </ul>
        </div>

        <div class="scoreboard-item title-value">
            <h4><?= e(trans('contentim.formsender::lang.controller.scoreboard.new_count')) ?></h4>
            <p><?= $this->getMessagesStats('spam', 'new_count'); ?></p>
            <p class="description"><?= e(trans('contentim.formsender::lang.controller.scoreboard.new_description')) ?></p>
        </div>

        <div class="scoreboard-item title-value">
            <h4><?= e(trans('contentim.formsender::lang.controller.scoreboard.latest_theme')) ?></h4>
            <div><?= $this->getMsgLatest(); ?></div>
        </div>
    </div>
</div>


<?php echo e(trans('contentim.formsender::lang.models.message.columns.message')) ?>

<div data-control="toolbar" >

    <button
            class="btn btn-default oc-icon-envelope-open-o"
            disabled="disabled"
            data-request="onAction"
            data-request-data="handler: 'read', checked: $('.control-list').listWidget('getChecked')"
            data-request-update = ""
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.mark_read')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-envelope-o"
            disabled="disabled"
            data-request="onAction"
            data-request-data="handler: 'unread', checked: $('.control-list').listWidget('getChecked')"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.mark_unread')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-exclamation"
            disabled="disabled"
            data-request="onAction"
            data-request-data="handler: 'important', checked: $('.control-list').listWidget('getChecked')"
            data-request-update = ""
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.important')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-share-square-o"
            disabled="disabled"
            data-request="onAction"
            data-request-data="handler: 'unimportant', checked: $('.control-list').listWidget('getChecked')"
            data-request-update = ""
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.unimportant')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-share-square-o"
            disabled="disabled"
            data-request="onAction"
            data-request-data="handler: 'remove_spamlist', checked: $('.control-list').listWidget('getChecked')"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.mark_unspam')) ?>
    </button>

    <?php if ($this->user->hasAccess('contentim.formsender.delete_messages')): ?>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            data-request-data="handler: 'delete', checked: $('.control-list').listWidget('getChecked')"
            data-request="onAction"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('contentim.formsender::lang.controller.scoreboard.delete')) ?>
    </button>
    <?php endif ?>

</div>

